.input-group  {
	width: 30px;
}

#checkit {
	display: none;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

li {
	list-style-type: none;
}

.smenter {
	width: 30px;
}

#tasks {
	margin-top: 365px;
	/*width: 250px;*/

}

#result {
	margin-top: 20px;
}

#start {
	margin-top: 365px;

}

.numbers {
	width: 74px;
}

ul {
	width: 500px;
}

#answer {
	margin-left: 20px;
	width: 50px;
}

.wid {
	/*width: 25%;*/
	float: left;
}

#next {
	margin-left: 20px;
}



